pipeline/full load table.json
{
	"name": "full load table",
	"properties": {
		"activities": [
			{
				"name": "irrations for full load",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "full load extraction",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('full load extraction').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "onpremisesql to blobdatacontiner",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "onpremisesqlserver",
									"type": "DatasetReference",
									"parameters": {
										"schema": {
											"value": "@item().SourceSchema",
											"type": "Expression"
										},
										"tablename": {
											"value": "@item().SourceTableName",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "efnblob_data",
									"type": "DatasetReference",
									"parameters": {
										"schemaname": {
											"value": "@item().SourceSchema",
											"type": "Expression"
										},
										"tablename": {
											"value": "@item().SourceTableName",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "full load extraction",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT  * FROM [efnproject].[migrationtablelist]\nwhere TypeofLoad='full'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_efnsqlserver_tablelist",
						"type": "DatasetReference",
						"parameters": {
							"shemaname": "efnproject",
							"tablename": "migrationtablelist"
						}
					},
					"firstRowOnly": false
				}
			}
		],
		"annotations": []
	}
}